$width: 1920px;
@import "fonts";
body {
    margin: 0;
}

.page-wrp {
    width: $width;
    margin: 0 auto;
}

#menu__toggle {
    display: none;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/slider.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: #ccc;
    box-sizing: border-box;
    width: 100%;
    min-height: 1024px;
    padding: 40px 160px 35px 160px;
    &-nav-wrp {
        width: 100%;
        min-height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        text-decoration: none;
        color: #fff;
        margin: 0 219px 0 0;
        &:hover &-icon {
            fill: #c7b299;
        }
        &:hover &-txt {
            color: #c7b299;
        }
        &:active &-icon {
            fill: #fff;
        }
        &:active &-txt {
            color: #fff;
        }
        &-icon {
            fill: #fff;
        }
        &-txt {
            font-family: 'raleway', sans-serif;
            font-size: 34px;
            line-height: 1.2;
            font-weight: 400;
            letter-spacing: -0.04em;
            color: #fff;
        }
    }
    &-navigation {
        width: 637px;
        margin: 0 62px 0 0;
        &-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            &-list {
                list-style-type: none;
            }
            &-link {
                text-decoration: none;
                font-family: 'montserrat', sans-serif;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 300;
                color: #fff;
                &:hover {
                    color: #c7b299;
                }
                &:active {
                    color: #fff;
                }
            }
        }
    }
    &-cart {
        width: 18px;
        height: 24px;
        margin: 0 28px 0 0;
        &-icon {
            fill: #fff;
            width: 18px;
            height: 24px;
            &:hover {
                fill: #c7b299;
            }
            &:active {
                fill: #fff;
            }
        }
    }
    &-form {
        width: 24px;
        height: 24px;
        position: relative;
        &-label {
            display: block;
            width: 100%;
            height: 100%;
            &-icon {
                width: 100%;
                height: 100%;
                fill: #fff;
            }
            &:hover &-icon {
                fill: #c7b299;
            }
            &:active &-icon {
                fill: #fff;
            }
        }
        &-input {
            width: 0;
            min-height: 0;
            outline: none;
            padding: 5px;
            box-sizing: border-box;
            background-color: transparent;
            position: absolute;
            top: 42px;
            left: -170px;
            color: #fff;
            font-size: 16px;
            font-family: 'montserrat'sans-serif;
            text-transform: capitalize;
            border: none;
            &:focus {
                width: 200px;
                min-height: 20px;
                transition: width 1s ease;
                border: 2px solid #fff;
            }
            &:focus ~ &-label > &-label-icon {
                fill: #c7b299;
            }
        }
    }
    &-slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-btn {
            display: block;
            width: 40px;
            height: 73px;
            margin-top: 115px;
            &:after {
                content: "";
                display: inline-block;
                width: 52px;
                height: 52px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: rotate(45deg);
                opacity: 0.5;
            }
            &-left:after {
                transform: rotate(225deg);
            }
            &:hover:after {
                border-color: #d3c1ad;
                opacity: 1;
            }
            &:active:after {
                border-color: black;
                opacity: 1;
            }
        }
        &-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 589px;
            margin-bottom: 318px;
            &-top {
                width: 100%;
                margin-bottom: 7px;
                text-align: center;
                display: block;
                font-family: 'raleway', sans-serif;
                font-size: 36px;
                line-height: 1.2;
                font-weight: 500;
                color: #ffffff;
            }
            &-title {
                text-align: center;
                margin-bottom: 10px;
                width: 100%;
                display: block;
                font-family: 'raleway', sans-serif;
                font-size: 52px;
                line-height: 1.2;
                font-weight: 800;
                color: #ffffff;
            }
            &-txt {
                padding: 0;
                margin: 0 0 51px 0;
                text-align: center;
                width: 100%;
                font-family: 'montserrat', sans-serif;
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                color: #ffffff;
            }
            &-link {
                display: block;
                width: 170px;
                height: 53px;
                background-color: #998675;
                border-radius: 3.0px;
                text-decoration: none;
                text-align: center;
                font-family: 'raleway', sans-serif;
                font-size: 14px;
                line-height: 23px;
                line-height: 53px;
                font-weight: 800;
                text-transform: uppercase;
                color: #ffffff;
                &:hover {
                    background-color: #d3c1ad;
                }
                &:active {
                    background-color: #998675;
                }
            }
        }
        &-paggination {
            width: 100%;
            min-height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            &-item {
                width: 11px;
                height: 11px;
                display: block;
                border: 2px solid transparent;
                border-radius: 50%;
                opacity: 0.5;
                background-color: #fff;
                margin: 5px;
                &:hover,
                &:active {
                    width: 15px;
                    height: 15px;
                    background-color: transparent;
                    transform: scale(1.2);
                    border: 2px solid #fff;
                    box-sizing: border-box;
                }
                &:active {
                    border-color: #d3c1ad;
                }
            }
        }
    }
}

.main-content {
    width: 100%;
}

.services {
    width: 100%;
    min-height: 373px;
    background-color: #fff;
    //    padding-top: 15px;
    //    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    &-item {
        width: 267px;
        text-align: center;
        margin: 0 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover &-icon {
            fill: #c7b299;
            transform: fill 0.3s;
        }
        &:hover &-title {
            color: #c7b299;
            transform: color 0.3s;
        }
        @keyframes flex-width {
            from {
                width: 70px;
            }
            50% {
                width: 230px;
            }
            to {
                width: 70px;
            }
        }
        &:hover::after {
            border-color: #c7b299;
            animation: flex-width 0.6s;
        }
        &-icon {
            width: 49px;
            height: 49px;
            fill: #555;
            margin-bottom: 25px;
        }
        &-title {
            display: block;
            width: 100%;
            font-family: 'raleway', sans-serif;
            font-size: 22px;
            line-height: 1.2;
            font-weight: 600;
            color: #555;
            margin-bottom: 10px;
        }
        &-txt {
            margin: 0;
            font-family: 'montserrat', sans-serif;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #8c8c8c;
            margin-bottom: 20px;
        }
        &:after {
            content: "";
            display: block;
            width: 70px;
            height: 3px;
            background-color: #f1eee9;
        }
    }
}

.realization {
    width: 100%;
    min-height: 700px;
    background-color: #fbfaf8;
    padding-top: 83px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
        display: block;
        width: 100%;
        height: 28px;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'raleway', sans-serif;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
    }
    &-txt {
        margin: 0 0 35px 0;
        width: 769px;
        text-align: center;
        font-family: 'montserrat', sans-serif;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
    }
    &-multi-bg {
        width: 100%;
        max-width: 1230px;
        min-height: 482px;
        background-image: url(../img/browser_center.jpg), url(../img/browser_right.jpg), url(../img/browser_left.jpg);
        background-repeat: no-repeat;
        background-size: 770px 482px, 770px 400px, 700px 400px;
        background-position: center bottom, right bottom, left bottom;
    }
}

.purchase {
    width: 100%;
    min-height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 0 376px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-wrp {
        width: 540px;
    }
    &-title {
        display: block;
        font-family: 'raleway', sans-serif;
        font-size: 28px;
        line-height: 1.2;
        font-weight: 400;
        color: #fff;
        margin-bottom: 5px;
        & span {
            color: #c7b299;
        }
    }
    &-txt {
        margin: 0;
        font-family: 'montserrat', sans-serif;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #615855;
    }
}

.projects {
    width: 100%;
    min-height: 1162px;
    background-color: #fff;
    padding: 80px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
        display: block;
        width: 100%;
        font-family: 'raleway', sans-serif;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555;
        text-align: center;
        margin-bottom: 10px;
    }
    &-txt {
        width: 770px;
        text-align: center;
        font-family: 'montserrat', sans-serif;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 0 0 35px 0;
    }
    &-button-wrp {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    &-button {
        display: block;
        height: 32px;
        padding: 0 20px;
        font-family: 'montserrat', sans-serif;
        font-size: 14px;
        line-height: 21px;
        font-weight: 300;
        color: #8c8c8c;
        outline: none;
        background-color: #fff;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        box-sizing: border-box;
        margin-right: 10px;
        &:last-child {
            margin: 0;
        }
        &:hover {
            background-color: #998675;
            color: #fff;
        }
        &:active {
            background-color: #fff;
            color: #998675;
        }
    }
    &-wrp {
        width: 1300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 25px;
    }
    &-link {
        display: block;
        width: 370px;
        position: relative;
        text-decoration: none;
        margin: 15px;
        &:hover .projects-btn-link {
            display: block;
        }
        &:hover .projects-btn-search {
            display: block;
        }
        &:hover &-img {
            filter: brightness(35%);
        }
        &:hover &-txt-wrp {
            background-color: #362f2d;
        }
        &:hover &-txt-wrp:before {
            border-bottom: 10px solid #362f2d;
        }
        &:hover &-title {
            color: #fff;
        }
        &:hover &-txt {
            color: #c7b299;
        }
        &-img {
            display: block;
            width: 370px;
            height: 237px;
            transition: filter 0.5s ease 0s;
        }
        &-txt-wrp {
            width: 100%;
            height: 100px;
            position: relative;
            background-color: #fbfaf8;
            text-transform: capitalize;
            padding: 30px 28px;
            box-sizing: border-box;
            transition: background-color 0.5s ease 0s;
            &:before {
                content: "";
                border: 10px solid transparent;
                border-bottom: 10px solid #fbfaf8;
                position: absolute;
                top: -20px;
                left: 19px;
                transition: border-bottom 0.5s ease 0s;
            }
        }
        &-title {
            display: block;
            width: 100%;
            font-family: 'raleway', sans-serif;
            font-size: 20px;
            line-height: 1;
            font-weight: 500;
            color: #c7b299;
            margin-bottom: 10px;
            transition: color 0.5s ease 0s;
        }
        &-txt {
            display: block;
            width: 100%;
            font-family: 'montserrat', sans-serif;
            font-size: 14px;
            line-height: 1;
            font-weight: 300;
            color: #d1d1d1;
            transition: color 0.5s ease 0s;
        }
    }
    &-btn-link,
    &-btn-search {
        width: 26px;
        height: 26px;
        display: none;
        padding: 0;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 106px;
        outline: none;
        transition: display 0.5s ease 0s;
    }
    &-btn-link {
        left: 144px;
    }
    &-btn-search {
        right: 144px;
    }
    &-btn-img {
        width: 26px;
        height: 26px;
        fill: #fff;
        transition: fill 0.5s ease 0s;
        &:hover {
            cursor: pointer;
            fill: #c7b299;
        }
        &:active {
            fill: #fff;
        }
    }
    &-btn {
        outline: none;
        border: none;
    }
}

.main-video {
    width: 100%;
    min-height: 705px;
    position: relative;
    display: flex;
    &-content {
        width: 565px;
        position: absolute;
        top: 205px;
        left: 680px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            width: 100%;
            text-transform: capitalize;
            display: block;
            font-family: 'raleway', sans-serif;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 500;
            color: #fff;
            margin-bottom: 15px;
        }
        &-txt {
            width: 100%;
            display: block;
            font-family: 'montserrat', sans-serif;
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: #fff;
            margin-top: 0;
            margin-bottom: 30px;
        }
        &-time {
            display: block;
            font-family: 'montserrat', sans-serif;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #c7b299;
        }
    }
    &-play-btn {
        display: flex;
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 50%;
        outline: none;
        background-color: rgba(0, 0, 0, 0.2);
        margin-bottom: 40px;
        &:hover &-icon {
            fill: #c7b299;
        }
        &:active &-icon {
            fill: #fff;
        }
        &-icon {
            margin: auto;
            fill: #fff;
        }
    }
}

.video-play {
    width: 100%;
    object-fit: cover;
}

.mobile {
    width: 100%;
    min-height: 695px;
    background-color: #fbfaf8;
    background-image: url(../img/iphone_in_hand.png);
    background-size: 423px 616px;
    background-repeat: no-repeat;
    background-position: 423px bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 385px 0 0;
    box-sizing: border-box;
    &-content {
        width: 663px;
        min-height: 250px;
        &-title {
            display: block;
            margin-bottom: 25px;
            font-family: 'raleway', sans-serif;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 600;
            color: #555555;
        }
        &-txt {
            font-family: 'montserrat', sans-serif;
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: #8c8c8c;
            margin: 0 0 30px 0;
        }
        &-list {
            list-style-type: none;
            margin: 0;
            padding-left: 100px;
            box-sizing: border-box;
            &-item {
                font-family: 'montserrat', sans-serif;
                font-size: 16px;
                line-height: 32px;
                font-weight: 300;
                color: #8c8c8c;
                position: relative;
                &::before {
                    content: ">";
                    display: block;
                    width: 21px;
                    height: 21px;
                    border-radius: 50%;
                    background-color: #c7b299;
                    color: #fff;
                    line-height: 21px;
                    text-align: center;
                    position: absolute;
                    top: 5px;
                    left: -45px;
                }
            }
        }
    }
}

.counter {
    width: 100%;
    min-height: 300px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding-top: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    &-item {
        width: 136px;
        text-align: center;
        margin-right: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:last-of-type {
            margin: 0;
        }
        &-icon {
            width: 44px;
            height: 44px;
            fill: #c7b299;
            margin-bottom: 30px;
        }
        &-sum {
            display: block;
            width: 100%;
            font-family: 'montserrat', sans-serif;
            font-size: 48px;
            line-height: 36px;
            font-weight: 200;
            color: #fff;
            margin-bottom: 18px;
        }
        &-txt {
            display: block;
            width: 100%;
            font-family: 'montserrat', sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            text-transform: uppercase;
            color: #c7b299;
            margin-bottom: 27px;
        }
        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background-color: #fff;
        }
    }
}

.posts {
    min-height: 753px;
    &-content-wrp {
        width: 1170px;
        display: flex;
        justify-content: space-between;
    }
    &-item {
        width: 370px;
        min-height: 395px;
        position: relative;
        &:hover &-calendar-date {
            background-color: #c7b299;
            color: #fff;
        }
        &:hover &-calendar-month {
            background-color: #a48d72;
            color: #fff;
        }
        &:hover &-calendar {
            z-index: 2;
        }
        &:hover &-img {
            filter: brightness(35%);
        }
        &:hover &-text-wrp {
            background-color: #362f2d;
            border-color: #362f2d;
        }
        &:hover &-title {
            color: #c7b299;
        }
        &:hover &-txt {
            color: #fff;
        }
        &:hover &-link {
            color: #c7b299;
        }
        &-calendar {
            width: 50px;
            height: 60px;
            border-radius: 3.0px 3.0px 0.0px 0.0px;
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;
            text-align: center;
            &-date {
                width: 50px;
                height: 35px;
                border-radius: 3.0px 3.0px 0.0px 0.0px;
                background-color: #363636;
                display: block;
                font-family: 'montserrat', sans-serif;
                font-size: 24px;
                line-height: 35px;
                font-weight: 300;
                color: #fff;
                transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
            }
            &-month {
                display: block;
                width: 50px;
                height: 25px;
                border-radius: 0.0px 0.0px 3.0px 3.0px;
                background-color: #252525;
                font-family: 'roboto', sans-serif;
                font-size: 12px;
                line-height: 25px;
                font-weight: 400;
                color: #fff;
                transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
            }
        }
        &-img {
            width: 370px;
            height: 220px;
            background-color: #777777;
            display: block;
            transition: filter 0.5s ease 0s;
        }
        &-text-wrp {
            width: 370px;
            min-height: 175px;
            border: 1px solid #f8f8f8;
            box-sizing: border-box;
            padding: 27px 29px;
            transition: background-color 0.5s ease 0s, border-color 0.5s ease 0s;
        }
        &-title {
            display: block;
            font-family: 'raleway', sans-serif;
            font-size: 20px;
            line-height: 1;
            font-weight: 500;
            color: #555;
            margin-bottom: 15px;
            transition: color 0.5s ease 0s;
        }
        &-txt {
            font-family: 'montserrat', sans-serif;
            font-size: 14px;
            line-height: 22px;
            font-weight: 300;
            color: #8c8c8c;
            margin: 0 0 23px 0;
            transition: color 0.5s ease 0s;
        }
        &-link {
            display: block;
            text-decoration: none;
            text-transform: capitalize;
            font-family: 'montserrat', sans-serif;
            font-size: 14px;
            line-height: 14px;
            font-weight: 300;
            color: #c7b299;
            position: relative;
            transition: color 0.5s ease 0s;
            &:hover {
                text-decoration: underline;
            }
            &:active {
                color: #fff !important;
                transition: color 0s ease 0s;
            }
            &:active::after {
                border-left: 8px solid #fff;
            }
            &::after {
                content: "";
                position: absolute;
                top: 3px;
                left: 85px;
                border: 5px solid transparent;
                border-left: 8px solid #c7b299;
            }
        }
    }
    &-btn-wrp {
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    &-btn {
        width: 22px;
        height: 22px;
        margin: 0 4px;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        outline: none;
        text-align: center;
        padding: 0;
        cursor: pointer;
        &:hover &-icon {
            fill: #c7b299;
        }
        &:active &-icon {
            fill: #362f2d;
        }
        &-icon {
            width: 22px;
            height: 22px;
            fill: #d1d1d1;
        }
    }
}

.partners {
    width: 100%;
    min-height: 489px;
    background-image: url(../img/partners_bg_photo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    &-link {
        width: 210px;
        min-height: 200px;
        margin: 0 45px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 2;
        transition: transform 0.5s ease 0s;
        &:hover {
            transform: scale(1.2)
        }
    }
}

.partner-1 {
    background-image: url(../img/partner_1.png)
}

.partner-2 {
    background-image: url(../img/partner_2.png)
}

.partner-3 {
    background-image: url(../img/partner_3.png)
}

.partner-4 {
    background-image: url(../img/partner_4.png)
}

.footer {
    width: 100%;
    &-content {
        width: 100%;
        min-height: 508px;
        background-color: #191919;
        padding: 77px 375px 0 375px;
        box-sizing: border-box;
        display: flex;
        &-item {
            width: 270px;
            margin-right: 30px;
            &:last-of-type {
                margin-right: 0;
            }
            &-txt {
                padding: 0;
                margin: 22px 0 27px 0;
                font-family: 'montserrat', sans-serif;
                font-size: 14px;
                line-height: 24px;
                font-weight: 300;
                color: #555555;
            }
            &-read {
                color: #d1d1d1;
                &::after {
                    border-left: 8px solid #d1d1d1;
                }
            }
            &-title {
                width: 100%;
                display: block;
                font-family: 'raleway', sans-serif;
                font-size: 24px;
                line-height: 1;
                font-weight: 700;
                color: #fff;
                margin-top: 26px;
            }
            &-link {
                display: block;
                width: 100%;
                box-sizing: border-box;
                border-bottom: 2px solid #252525;
                text-decoration: none;
                padding: 18px 0;
                &:first-of-type {
                    padding-top: 25px;
                }
                &:last-of-type {
                    border: none;
                }
                time {
                    display: block;
                    font-family: 'montserrat', sans-serif;
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #363636;
                    transition: color 0.5s ease 0s;
                }
                &-txt {
                    font-family: 'montserrat', sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #555555;
                    margin: 0;
                    transition: color 0.5s ease 0s;
                    &-mark {
                        color: #00bff3;
                    }
                    &-mark2 {
                        color: #959595;
                    }
                }
                &:hover > time {
                    color: #fff;
                }
                &:hover &-txt {
                    color: #c7b299;
                }
            }
            &-widget {
                width: 270px;
                height: 216px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 18px;
                &-link {
                    display: block;
                    width: 130px;
                    height: 98px;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 10px;
                    transition: transform 0.5s ease 0s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                &-img {
                    width: 130px;
                    height: 98px;
                }
            }
        }
    }
    &-copyrighting {
        width: 100%;
        min-height: 111px;
        background-color: #111;
        padding: 44px 375px 0 375px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        &-link-wrp {
            width: 401px;
            height: 13px;
            display: flex;
            font-family: 'montserrat', sans-serif;
            font-size: 13px;
            line-height: 13px;
            font-weight: 300;
            color: #555;
        }
        &-txt {
            display: block;
            padding: 0 13px 0 0;
            box-sizing: border-box;
            span {
                color: #959595;
            }
        }
        &-link {
            display: block;
            text-decoration: none;
            font-family: 'montserrat', sans-serif;
            font-size: 13px;
            line-height: 13px;
            font-weight: 300;
            color: #555;
            padding: 0 11px;
            box-sizing: border-box;
            border-left: 1px solid #252525;
            transition: color 0.5s ease 0s;
            &:last-of-type {
                padding-right: 0;
            }
            &:hover {
                color: #c7b299;
            }
            &:active {
                color: #fff;
                transition: none;
            }
        }
        &-design {
            width: 320px;
            height: 13px;
            display: flex;
            justify-content: space-between;
            font-family: 'montserrat', sans-serif;
            font-size: 13px;
            line-height: 13px;
            font-weight: 300;
            &-txt {
                display: block;
                color: #555;
                &:first-of-type {
                    padding-right: 10px;
                    border-right: 1px solid #252525;
                }
            }
            &-link {
                text-decoration: none;
                color: #959595;
                transition: color 0.5s ease 0s;
                &:hover {
                    color: #c7b299;
                }
                &:active {
                    color: #fff;
                    transition: none;
                }
            }
        }
    }
}

//************* MOBILE VERSION 576px ***************************************************
@media (max-width: 576px) {
    .page-wrp {
        width: 100%;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: -150px;
        width: 31px;
        height: 31px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        transition-duration: .5s;
        border-radius: 4px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    .menu__btn > span:nth-child(1) {
        content: '';
        top: -10px;
        transform-origin: 0% 0%;
        transition: width, 0.5s;
    }
    .menu__btn > span:nth-child(3) {
        content: '';
        width: 70%;
        top: 10px;
        transform-origin: 0% 100%;
        transition: width, 0.5s;
    }
    #menu__toggle:checked ~ .menu__btn {
        position: fixed;
        top: 40px;
        right: 34px;
    }
    #menu__toggle:checked ~ .menu__btn > span:nth-child(2) {
        opacity: 0;
        background: #fff;
        transform: rotate(0deg) scale(0.2, 0.2);
        background: #c7b299;
        z-index: 3;
    }
    #menu__toggle:checked ~ .menu__btn > span:nth-child(1) {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        background: #c7b299;
        width: 100%;
        z-index: 3;
    }
    #menu__toggle:checked ~ .menu__btn > span:nth-child(3) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, 0px);
        background: #c7b299;
        width: 100%;
        z-index: 3;
    }
    #menu__toggle:checked ~ .main-header-navigation-menu {
        visibility: visible;
        right: 0;
    }
    .main-header {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        min-height: auto;
        padding: 10px;
        box-sizing: border-box;
        &-nav-wrp {
            min-height: 56px;
        }
        &-logo {
            margin: 0 20px 0 10px;
        }
        &-navigation {
            width: 637px;
            margin: 0 62px 0 0;
            position: relative;
            &-menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0;
                visibility: hidden;
                position: fixed;
                top: 65px;
                right: -100%;
                width: 160px;
                flex-direction: column;
                align-items: flex-start;
                background-color: grey;
                margin: 0;
                box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
                transition-duration: .5s;
                opacity: 0.8;
                z-index: 5;
                &-list {
                    width: 100%;
                }
                &-link {
                    transition-duration: .25s;
                    font-size: 26px;
                    display: block;
                }
            }
        }
        &-cart {
            margin: 0 95px 0 0;
        }
        &-form {
            display: none;
        }
        &-slider {
            display: none;
        }
    }
    .services {
        min-height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 10px;
        box-sizing: border-box;
        &-item {
            margin: 15px 0 0 0;
        }
    }
    .realization {
        display: none;
    }
    .purchase {
        display: none;
    }
    .projects {
        min-height: auto;
        padding: 10px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-txt {
            width: 95%;
            margin: 0 0 15px 0;
        }
        &-button-wrp {
            display: none;
        }
        &-wrp {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 15px;
        }
    }
    .main-video {
        display: none;
    }
    .mobile {
        min-height: 600px;
        background-size: 253px 340px;
        background-position: 40px bottom;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 0 0 0;
        box-sizing: border-box;
        &-content {
            width: 95%;
            min-height: 250px;
            &-title {
                text-align: center;
            }
            &-txt {
                text-align: left;
                margin: 0 0 15px 0;
            }
            &-list {
                padding-left: 300px;
                box-sizing: border-box;
                &-item {
                    font-size: 15px;
                    line-height: 28px;
                }
            }
        }
    }
    .counter {
        display: none;
    }
    .posts {
        min-height: auto;
        &-content-wrp {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-item {
            margin-bottom: 15px;
        }
        &-btn-wrp {
            display: none;
        }
    }
    .partners {
        min-height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        &-link {
            width: 189px;
            min-height: 180px;
            margin: 15px;
            &:hover {
                transform: scale(1.1)
            }
        }
    }
    .footer {
        &-content {
            display: none;
        }
        &-copyrighting {
            min-height: auto;
            padding: 15px;
            box-sizing: border-box;
            justify-content: center;
            flex-wrap: wrap;
            &-link-wrp {
                margin-bottom: 20px;
            }
        }
    }
}